[Desktop Entry]
Encoding=UTF-8
Name=SoccerCoin
Comment=SoccerCoin P2P Cryptocurrency
Comment[fr]=SoccerCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=SoccerCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/soccercoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/soccercoin;
Categories=Office;
